<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="author" content="Abdelghafour Kaouch" />
    <meta name="description" content="Webseite, welche als Entscheidungssystem bei Bauvorhaben dient" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Formate.css" type="text/css" />
    <title>Baugenehmigungs-Entscheidungssystem</title>
</head>
<body>
<header>
    <h1>Baugenehmigungs-Entscheidungssystem</h1>
</header>
<nav id="navigation">
    <ul>
        <li id="aktiv">Home</li>
        <li><a href="anleitung.html">Anleitung</a></li>
        <li><a href="system.html">Entscheidungssystem</a></li>
        <li><a href="contact.html">Kontakt</a></li>
    </ul>
</nav>
<main>
    <article>
        <h2>Herzlich Willkommen!</h2>
        <p>Mit diesem Entscheidungssystem können Sie einfach und übersichtlich Ihr geplantes Bauvorhaben nach bestimmten Kriterien prüfen.</p>
        <p>Genaueres und eine Schritt-für-Schritt Anleitung finden Sie unter dem Menüpunkt Anleitung.</p>
    </article>
</main>
<footer>
    <p>Stand: 05/2023</p>
</footer>
</body>
</html>